@tailwind base;
@tailwind components;
@tailwind utilities;

.glow{
    transition: all 0.3s ease-in-out;
}

.glow:hover{
    box-shadow: 0 0 25px rgb(71, 98, 206);
}
.b_glow{
    box-shadow: 0 0 25px rgb(71, 98, 206);
}
.neno-button:hover{
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 15px rgb(71, 98, 206);
}